<div class="pure-u-1-1 bloccipedia-form">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {:class => 'pure-form pure-form-aligned'} ) do |f| %>
    
    <%= devise_error_messages! %>
    
    <fieldset>
      <div class="pure-control-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="pure-controls">
        <%= f.submit "Sign up", :class => 'pure-button pure-button-primary'%>
      </div>
    </fieldset>
  <% end %>
  
  <%= render "devise/shared/links" %>

</div>