  <%= form_for(@wiki, html: {:class => 'pure-form pure-form-aligned'}) do |f| %>
    <% if wiki.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved or updated:</h2>
        <ul>
          <% wiki.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="pure-control-group">
        <%=  f.label :title %>
        <%=  f.text_field :title, :id => 'wiki_title_input' %>
      </div>
      
      <div class="pure-control-group">
        <%=  f.label :body %>
        <%=  f.text_area :body, :id => 'wiki_body' %>
      </div>

      <div class="pure-controls">
        <% if (@wiki.title == nil && @wiki.body == nil) %>
          <%=  f.submit "Save", :class => 'pure-button' %>
        <% else %>
          <%=  f.submit "Update", :class => 'pure-button' %>
        <% end %>
      </div>
    </fieldset>
  <% end  %>