<div class="pure-u-1-1 wiki">
  <% if (current_user) %>
    <div id="my_wikis">
      <h1>My wikis</h1>
      <% if (@user_owned_wikis.first != nil)%>
        <table class="pure-table pure-table-bordered wiki-table">
          <tbody>
            <thead>
              <th>Wiki</th>
              <th>Edit</th>
              <th>Delete</th>   
              <% if policy(Wiki).premium? %>
                <th>Publicly <br />viewable?</th>
              <% end %>
            </thead>
            <% @user_owned_wikis.each do |owned_wiki| %>
              <tr> 
                <%  puts markdown owned_wiki.title %>
                <td><%= link_to (markdown owned_wiki.title), owned_wiki, :class => 'wiki-table-link' %></td>
                <td><%= link_to "edit", edit_wiki_path(owned_wiki), :class => 'wiki-table-link' %></td>
                <td><%= link_to "delete", wiki_path(owned_wiki), method: :delete %></td>
                <% if policy(Wiki).premium? %>
                  <% public_access = "no"%>
                  <% if owned_wiki.public_access == true %>
                    <% public_access = "yes" %>
                  <% end %>
                  <td><%= link_to public_access, edit_wiki_path(owned_wiki), :class => 'wiki-table-link' %></td>
                <% end %>
              </tr> 
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="none-yet">You haven't written any wikis yet.<br /> Make one of your own, click the 'New wiki' button below!</p>
      <% end %>

      <p><%= button_to "New wiki", new_wiki_path, :id => "new_wiki_button", :class => "pure-button", :method => :get %></p>

      <h1>Wikis I Collaborate On</h1>
      <% if (@my_collaborations.first != nil)%>
        <table class="pure-table pure-table-bordered wiki-table">
          <thead>
            <th>Wiki</th>
            <th>Edit</th>
          </thead>
          <tbody>
            <% @my_collaborations.each do |collaboration| %>
              <tr> 
                <%  puts markdown collaboration.title %>
                <td><%= link_to (markdown collaboration.title), collaboration, :class => 'wiki-table-link' %></td>
                <td><%= link_to "edit", edit_wiki_path(collaboration), :class => 'wiki-table-link' %></td>
              </tr> 
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="none-yet">You aren't collaborating on any wikis. </p>
      <% end %>
    </div>
  <% end %>
  
  <h1>All Public Wikis</h1>
  <table class="pure-table pure-table-bordered wiki-table">
    <tbody>
      <thead>
        <th>Public Wikis</th>
      </thead>
      <% @public_wikis.each do |wiki| %>
        <tr> 
          <td><%  puts markdown wiki.title %><%= link_to (markdown wiki.title), wiki, :class => 'wiki-table-link' %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>

</div>