<div class="pure-u-1-1 bloccipedia-form">
  <%= form_for(@wiki, html: {:class => 'pure-form pure-form-aligned'}) do |f| %>
    <fieldset>
      <div class="pure-control-group">
        <%=  f.label :title %>
        <%=  f.text_field :title %>
      </div>
      
      <div class="pure-control-group">
        <%=  f.label :body %>
        <%=  f.text_area :body %>
      </div>

      <div class="pure-controls">
        <%=  f.submit "Save", :class => 'pure-button' %>
      </div>
    </fieldset>
  <% end  %>
</div>